.relative {
    position: relative;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: var(--secondary-color);
    background-color: var(--text-secondary);
    z-index: 100;
}